@page "/"
@using SharpLive.Features

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <img src="@context.User.GetAvatarUrl(512)"/>
        <a href="/logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Login</a>
    </NotAuthorized>
</AuthorizeView>